@function vw($w) {
  @return $w * 1700 / 1920 / 1920 * 100 + vw;
}
@function vh($h) {
  @return $h / 1080 * 100 + vh;
}
@function vwp($w) {
@return $w / 1920 * 100 + vw;
}
$W: vw(1920);
$pa: (100vw - $W) / 2;
@function wp($w) {
  @return $w / 750 * 100 + vw;
}
@font-face {
  font-family: 'Aileron-Regular';
  src: url("~@assets/font/Aileron-Regular-10.eot") format("embedded-opentype"),
  url("~@assets/font/Aileron-Regular-10.woff") format("woff"),
  url("~@assets/font/Aileron-Regular-10.ttf") format("truetype");
}
@font-face {
  font-family: 'Cormorant-Bold';
  src: url("~@assets/font/Cormorant-Bold.eot") format("embedded-opentype"),
  url("~@assets/font/Cormorant-Bold.woff") format("woff"),
  url("~@assets/font/Cormorant-Bold.otf") format("truetype");
}
@font-face {
  font-family: 'Cormorant-Medium';
  src: url("~@assets/font/Cormorant-Medium.eot") format("embedded-opentype"),
  url("~@assets/font/Cormorant-Medium.woff") format("woff"),
  url("~@assets/font/Cormorant-Medium.otf") format("truetype");
}
