@import "common";



html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.container.container--fluid.over-hide {
  >div:not(.single-layout) {
    @include over-auto;
    height: 100%;
  }
}

/* 设置滚动条的样式 */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* 滚动槽 */
*::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  border-radius: 10px;
  width: 10px;
  background-color: #e2e2e2;
}

/* 滚动条滑块 */
*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  // background: #a1d8ff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

*::-webkit-scrollbar-thumb:window-inactive {
  background: #eee;
}

*:-webkit-autofill {
  background-color: #fff!important;
  box-shadow: inset 0 0 0 1000px white;
}
img {
  -ms-interpolation-mode: bicubic;
  width: 100%;
  max-width: 100%;
}
p {
  padding: 0;
  margin: 0;
}
video {
  width: 100%;
  height: 100%;
}